:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: block; /* Removes the smashing effect */
  background-color: #f5f5f5;
}

#root {
  width: 100%;
}